@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .menu_link {
      @apply md:ms-6 sm:ms-3 xl:ms-10 text-zinc-400 hover:text-zinc-100
   }

   .com_btn {
      @apply border-slate-300 border-solid border text-sm rounded-full text-white bg-gray-800 hover:bg-slate-300 hover:text-black ease-in-out duration-300
   }
   .back_com-tn{
      @apply  bg-cyan-600 py-1 mb-3 px-4 rounded-full font-light text-white flex place-items-center
   }
   .example_box {
      @apply rounded-xl p-4 bg-zinc-800 text-center border border-zinc-700 hover:border-cyan-600 hover:shadow-2xl
   }

   .example_box-btn {
      @apply mt-2 rounded-full border-cyan-600 border py-2 px-5 text-xs text-white font-semibold hover:bg-cyan-600 transition
   }
   .notallow{
      @apply opacity-25 cursor-not-allowed
   }
   .pool_box{
      @apply bg-zinc-900 p-3 rounded-md
   }
   .pool_box.toppool{
      @apply border-2 border-green-600  bg-gradient-to-l from-green-900
   }
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: rgb(22, 24, 39) !important;

}
.page_banner{
   background-color: rgba(30, 33, 53, 0.8);
}
.poppins-regular {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
}
.mainbg{
   background-image: url(../src/images/sky.png);
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
}
.spiner {
   width: 200px;
   height: 200px;
   opacity: 0.3;
   left: -8%;
   transform: rotate(225deg);
}
.example_box{
   /* padding: 16px; */
   background: rgba(30, 33, 53, 0.8);
   backdrop-filter: blur(15px);
   /* border-radius: 16px; */
   box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px;
   /* margin-bottom: 12px; */
   -webkit-box-align: center;
   align-items: center;
   cursor: pointer;
}
.spiner2 {
   width: 200px;
   height: 200px;
   opacity: 0.3;
   right: -8%;
   transform: rotate(225deg);
}
.menu_link{
   position: relative;
}
.menu_link.active::after{
   content: '';
   width: 50%;
   height: 2px;
   background-color: #0891b2;
   position: absolute;
   bottom: -2px;
   left: 0;
}
@keyframes spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

.c_bar a {
   width: 100%;
   padding: 10px 0;
   display: block;
}

.stck-bg {
   background: linear-gradient(270deg, rgba(199, 142, 0, 0.3) 0%, rgba(199, 142, 0, 0) 100%);
}

.stck-bg2 {
   background: linear-gradient(270deg, rgba(25, 190, 205, 0.3) 0%, rgba(25, 190, 205, 0) 100%);
}

.ex-box-custome {
   background: rgba( 255, 255, 255, 0 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 20px );
   -webkit-backdrop-filter: blur( 20px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   
}